---
import { getCollection } from "astro:content";
import { SITE_TITLE } from "../consts";

const komponenter = await getCollection("komponent");
const howItsMade = await getCollection("howitsmade");
const top = await getCollection("top");
---

<header class="relative isolate z-10 bg-white">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/" class="text-lg font-semibold inline-flex gap-2">
        <span class="text-blue-600">App</span>
        <span>Innovations</span>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        data-target="mobile-menu"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Åben hovedmenu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <div>
        <button
          type="button"
          data-target="product-menu"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Komponenter
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div
          id="product-menu"
          class="absolute hidden inset-x-0 top-0 -z-10 bg-white pt-14 shadow-lg ring-1 ring-gray-900/5"
        >
          <div
            class="mx-auto grid max-w-7xl grid-cols-4 gap-x-4 px-6 py-10 lg:px-8 xl:gap-x-8"
          >
            {
              komponenter.slice(0, 4).map((komponent) => (
                <div class="group relative rounded-lg p-6 text-sm leading-6 hover:bg-gray-50">
                  <a
                    href={`/komponenter/${komponent.slug}`}
                    class="mt-6 block font-semibold text-gray-900"
                  >
                    <span class="absolute inset-0" />
                  </a>
                  <p class="mt-1 text-gray-600">{komponent.data.title}</p>
                </div>
              ))
            }
          </div>
          <div class="bg-gray-50">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div
                class="grid grid-cols-1 divide-x divide-gray-900/5 border-x border-gray-900/5"
              >
                <a
                  href="#"
                  class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100"
                >
                  <svg
                    class="h-5 w-5 flex-none text-gray-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2.5 3A1.5 1.5 0 001 4.5v4A1.5 1.5 0 002.5 10h6A1.5 1.5 0 0010 8.5v-4A1.5 1.5 0 008.5 3h-6zm11 2A1.5 1.5 0 0012 6.5v7a1.5 1.5 0 001.5 1.5h4a1.5 1.5 0 001.5-1.5v-7A1.5 1.5 0 0017.5 5h-4zm-10 7A1.5 1.5 0 002 13.5v2A1.5 1.5 0 003.5 17h6a1.5 1.5 0 001.5-1.5v-2A1.5 1.5 0 009.5 12h-6z"
                      clip-rule="evenodd"></path>
                  </svg>
                   Vis alle komponenter
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative">
        <button
          type="button"
          data-target="guides"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Guides
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div
          id="guides"
          class="absolute hidden -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="p-4">
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-gray-900">
                  Fra koncept til skitse: Sådan impplementere du
                  designprincipper i din app
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-gray-900">
                  Optimering af brugerinteraktioner: designprincipper i praksis
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a href="#" class="block font-semibold text-gray-900">
                  En komplet guide til mobil app design
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 divide-x divide-gray-900/5 bg-gray-50">
            <a
              href="/#"
              class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100"
            >
              Vis alle eksempler
            </a>
          </div>
        </div>
      </div>
      <div class="relative">
        <button
          type="button"
          data-target="howitsmade"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Hvordan det lavet
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div
          id="howitsmade"
          class="absolute hidden -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="p-4">
            {
              howItsMade.map((entry) => (
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                  <div class="flex-auto">
                    <a
                      href={`/howitsmade/${entry.slug}`}
                      class="block font-semibold text-gray-900"
                    >
                      {entry.data.title}
                      <span class="absolute inset-0" />
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
          <div class="grid grid-cols-1 divide-x divide-gray-900/5 bg-gray-50">
            <a
              href="/#"
              class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100"
            >
              Vis alle eksempler
            </a>
          </div>
        </div>
      </div>
      <div class="relative">
        <button
          type="button"
          data-target="tjekliste"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Tjekliste
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div
          id="tjekliste"
          class="absolute hidden -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-white p-2 shadow-lg ring-1 ring-gray-900/5"
        >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Den ultimative tjekliste: Sådan evaluerer du dit design på mobil
            app</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Designprincipper til Mobile Apps: En Skridt-for-Skridt Tjekliste
            for Succes</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Sikkerheds- og Privatlivstjekliste til Mobile App Design</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Accessibility Compliance Tjekliste: Gør Din Mobile App Inklusiv</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Tjekliste til Mobile App Brugeroplevelse: Sådan Holder Du Brugerne
            Engagerede</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Vis alle tjeklister</a
          >
        </div>
      </div>
      <div class="relative">
        <button
          type="button"
          data-target="top"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Top 10
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div
          id="top"
          class="absolute hidden -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-white p-2 shadow-lg ring-1 ring-gray-900/5"
        >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Top 10 Designprincipper der Skaber Fantastiske Mobile Apps</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Top 10 værktøjer som ingen app designer kan undvære</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Top 10 bedste ui/ux principper til cross platform mobil apps</a
          >
          <a
            href="/#"
            class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50"
            >Vis alle top eksempler</a
          >
        </div>
      </div>
    </div>
  </nav>
  <div id="mobile-menu" class="hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">{SITE_TITLE}</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt=""
          />
        </a>
        <button
          type="button"
          data-target="mobile-menu"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <div class="-mx-3">
              <button
                type="button"
                data-target="komponenter-1"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="komponenter-1"
                aria-expanded="false"
              >
                Komponenter
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="komponenter-1">
                {
                  komponenter.slice(0, 4).map((komponent) => (
                    <a
                      href={`/komponenter/${komponent.slug}`}
                      class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {komponent.data.title}
                    </a>
                  ))
                }

                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Vis alle komponenter</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                type="button"
                data-target="guide-1"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="guide-1"
                aria-expanded="false"
              >
                Guides
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="guide-1">
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Fra koncept til skitse: Sådan impplementere du
                  designprincipper i din app
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Optimering af brugerinteraktioner: designprincipper i praksis
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  En komplet guide til mobil app design
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Vis alle guides</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                type="button"
                data-target="howitsmade-1"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="howitsmade-1"
                aria-expanded="false"
              >
                Hvordan det lavet
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="howitsmade-1">
                {
                  howItsMade.map((entry) => (
                    <a
                      href={`/howitsmade/${entry.slug}`}
                      class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {entry.data.title}
                    </a>
                  ))
                }

                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Vis alle eksempler</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                type="button"
                data-target="tjekliste-1"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="tjekliste-1"
                aria-expanded="false"
              >
                Tjekliste
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="tjekliste-1">
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                Den ultimative tjekliste: Sådan evaluerer du dit design på mobil app
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                Designprincipper til Mobile Apps: En Skridt-for-Skridt Tjekliste for Succes
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                Sikkerheds- og Privatlivstjekliste til Mobile App Design
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                Accessibility Compliance Tjekliste: Gør Din Mobile App Inklusiv
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                Tjekliste til Mobile App Brugeroplevelse: Sådan Holder Du Brugerne Engagerede
                </a>
                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Vis alle tjeklister</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                type="button"
                data-target="top-1"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="top-1"
                aria-expanded="false"
              >
                Top 10
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="top-1">
                {
                  top.map((entry) => (
                    <a
                      href={`/top/${entry.slug}`}
                      class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {entry.data.title}
                    </a>
                  ))
                }

                <a
                  href="/#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Se alle top eksempler</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
